body {
    background-color: #252525;
    overflow-x: hidden;

    font-family: 'Poppins', sans-serif;

    width: 100%;
    height: 100vh;

    transition: background-color 0.5s linear;

    margin: 0;
    padding: 0;
}
.year {
    min-width: 100%;
    min-height: 100vh;

    /* border: 5px dashed red; */
    padding: -5px;
}
.camera {
    width: 100%;
    height: 100vh;

    overflow: hidden;

    position: sticky;
    top: 0;
}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.px-frame{
    width: 2400px;
    height: 1350px;

    position: relative;
}
.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
}
.hero-wrap{
    display: flex;

    /* width: 80%; */
}
.hero-wrap img{
    width: 61.8%;
    height: fit-content;
    display: block;
    flex-shrink: 0;
    position: relative;
}
.text-wrap{
    width: 38.2%;
    /* position: relative; */
    
    margin: 0 0 0 16px;
}





.center-align-vertical{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.right-align{
    display: flex;
    justify-content: right;
}
.poss-frame {
    display: flex;
    align-items: stretch;
    justify-content: left;

    width: auto;
    height: 100%;

    overflow: visible;
    position: fixed;
    top: 0%;
    left: 0%;

    /* border: 3px solid red; */
    /* background-color: aqua; */

    margin: 0;
    padding: 0;
}
.possibilities .poss-frame {
    position: relative;
    left: 0vw;
}

/* HEADERS STYLE */
h1{
    color: #FFEF00;

    margin: 0;
    padding: 0;
}
h2 {
    color: #FFEF00;

    margin: 0;
    padding: 0;
}
h3 {
    color: #FFEF00;

    font-family: ivyjournal, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    line-height: 120%;

    margin: 0 0 0 0;
    padding: 0;
}
h4 {
    color: #FFEF00;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    margin: 2px 0 2px 0;
    padding: 0;
}
.footer-date h4 {
    color: #252525;
}
h5 {
    color: #FFEF00;

    margin: 0;
    padding: 0;
}
h6 {
    color: #FFEF00;

    margin: 0;
    padding: 0;
}
p {
    color: #C4C4C4;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    margin: 0;
    padding: 0;
}
.yellow{
    color: #FFEF00;
}
.black{
    color: #000;
}

/* FOOTER STYLE */
footer {
    display: flex;
    background-color: #fff;
    height: 24px;
    width: 100%;

    position: fixed;
    bottom: 0%;
    z-index: 50;

    margin: 0;
    padding: 0;
}
.footer-fill {
    height: 24px;
    width: 1px;

    position: absolute;
    z-index: 51;

    background-color: #FFEF00;

    margin: 0;
    padding: 0;
}
.footer-date {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 52;

    margin: 0;
    padding: 0;
}

/* Intro STYLE */
:root {
    --years-of-width: 300px;
    --years-of-height: 200px;
}

.kilo-logo-holder {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;
}
.kilo-logo-holder img {
    height: var(--years-of-height);
    width: auto;

    margin: 0 0 0 40vw;
    padding: 0;
}

.years-of-spacer {
    width: var(--years-of-width);
    height: var(--years-of-height);

    margin: 0 0 0 20vw;
    padding: 0;
}

.years-of-holder {
    position: fixed;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;
}
.years-of-holder img {
    width: var(--years-of-width);
    height: var(--years-of-height);

    margin: 0 0 0 calc(40vw - var(--years-of-width));
    padding: 0;
}

.intro-slideshow{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: var(--years-of-height);
}

.intro-slideshow img{
    width: 350px;
    height: var(--years-of-height);

    margin: 0 0 0 40vw;
    padding: 0;
}

/* POSSIBILITIES INTERACTION */
:root {
    --poss-anim-length: 150vw;
}
.possibilities {
    width: auto;
    height: var(--poss-anim-length);

    position: relative;

    overflow: visible;

    /* border: 5px dashed red; */
}
.possibilities-holder {
    display: flex;
    align-items: center;
    
    position: relative;

    width: var(--poss-anim-length);
    height: 100vh;
}
.possibilities-holder img {
    width: calc(var(--years-of-height) * 9);
    height: var(--years-of-height);
    
    margin: 0 0 0 40vw;
    padding: 0;
}
.blurb{
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;

    /* border: 1px solid red; */

    position: absolute;
    bottom: 0;
    left: 0;
}
.blurb p {
    color: #C4C4C4;

    width: 400px;
    height: var(--years-of-height);

    font-family: ivyjournal, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    line-height: 36px;

    margin: 0 0 0 calc(40vw + 20px);
    padding: 0;
}

/* 2009 */
.y2009-holder {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 2010 */

/* 2011 */

/* 2012 */
.y2012 {
    margin: 0 0 75vh 0;
}
.y2012 h1 {
    font-family: ivyjournal, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 200px;
    line-height: 120%;
    color: #000;

    width: 1080px;
    height: 240px;
}
.y2012 h3 {
    font-family: ivyjournal, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    line-height: 120%;
    color: #000;

    width: 1080px;
    height: 96px;
}
.y2012 .contentbox {
    width: 1080px;
}
.y2012 img {
    width: 1080px;
    height: 720px;
    display: block;
    object-fit: cover;

    margin: 256px 0 0 0;
    padding: 0 0 0 0;
}
.y2012 .box img {
    width: 720px;
    height: 430px;
}
.y2012 .box{
    width: 720px;
    height: fit-content;

    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.y2012 .right-align .box{
    margin: 0 0 256px 0;
}
.y2012 p {
    font-family: ivyjournal, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 130%;
    color: #727272;

    width: 720px;
    height: fit-content;

    margin: 10px 0 0 0;
}

/* 2013 */
.y2013{
    position: relative;
    width: 100vw;
    height: 500vw;
}
.y2013 .camera{
    display: flex;
    justify-content: center;
    align-items: center;

    /* overflow: visible; */
}
.c3-collage-frame {
    flex-shrink: 0;

    width: 400vw;
    height: 400vh;
    overflow: visible;
    position: relative;

    /* border: 3px solid red; */
    /* background-color: aqua; */

    margin: 0;
    padding: 0;
}
.c3-video {
    width: 25%;
    height: 25%;

    position: absolute;
    object-fit: cover;
    left: 37.5%;
    top: 37.5%;
}
.c3-collage-frame img{
    position: absolute;
    object-fit: cover;

    width: 25%;
    height: 25%;
}
.c3-collage-frame img:nth-child(1) {
    left: 96.5277%;
    top: 37.5308%;

    width: 39.7222%;
    height: 31.8518%;
}
.c3-collage-frame img:nth-child(2) {
    left: 44.375%;
    top: 64.5679%;

    width: 25.7638%;
    height: 26.7901%;
}
.c3-collage-frame img:nth-child(3) {
    left: 63.6111%;
    top: 37.5308%;

    width: 31.8055%;
    height: 25.0617%;
}
.c3-collage-frame img:nth-child(4) {
    left: 71.25%;
    top: 64.5679%;

    width: 24.1666%;
    height: 20.3703%;
}
.c3-collage-frame img:nth-child(5) {
    left: 24.0972%;
    top: 64.5679%;

    width: 19.1666%;
    height: 15.0617%;
}
.c3-collage-frame img:nth-child(6) {
    left: 101.6666%;
    top: 13.8271%;

    width: 25.6944%;
    height: 21.7283%;
}
.c3-collage-frame img:nth-child(7) {
    left: 71.6666%;
    top: 09.1358%;

    width: 28.8888%;
    height: 26.4197%;
}
.c3-collage-frame img:nth-child(8) {
    left: 17.1527%;
    top: 26.0493%;

    width: 19.2361%;
    height: 17.5308%;
}
.c3-collage-frame img:nth-child(9) {
    left: 37.5%;
    top: 20.8641%;

    width: 33.0555%;
    height: 14.6913%;
}
.c3-collage-frame img:nth-child(10) {
    left: 23.6111%;
    top: 45.5555%;

    width: 12.7777%;
    height: 17.0370%;
}
.c3-collage-frame img:nth-child(11) {
    left: 96.5277%;
    top: 71.3580%;

    width: 19.8611%;
    height: 19.6296%;
}
.c3-info-wrap{
    position: absolute;

    left: 128.472%;
    top: 13.6%;

    width: 33.125%;
    height: 21.8518%;
}

.metropolis-wrap{
    position: absolute;

    left: 175%;
}
.video-wrap{
    display: flex;
    /* width: 1300px; */

    margin: 0;
    padding: 0;
}
.video-wrap video{
    width: 650px;
    height: fit-content;

    margin: 0;
    padding: 0;
}

.info-wrap{
    width: 500px;

    position: relative;

    margin: 0 0 0 16px;
}
/* HALOWEEN */
.jackolantern{
    width: 110%;

    position: absolute;
    bottom: 0;
    left: -5%;
}

/* 2014 */

/* 2015 */

/* 2016 */

/* 2017 */

/* 2018 */

/* 2019 */

/* 2020 */

/* 2021 */

/* 2022 */
:root{
    --y2022-anim-length: 250vw;
}
.y2022-track {
    width: auto;
    height: var(--y2022-anim-length);

    position: static;

    overflow: visible;

    /* border: 20px dashed blue; */
}
.y2022-camera {
    width: 100%;
    height: 100vh;

    overflow: hidden;

    position: sticky;
    top: 0;

    /* border: 20px dashed aqua; */
}
.y2022-frame {
    display: flex;
    justify-content: left;
    align-items: center;


    width: auto;
    height: 100%;

    overflow: visible;
    position: relative;
    left: 0vw;

    /* border: 20px dashed green; */
}
.dubai-project-animation {
    width: 100%;
}

/* SCROLLBAR STYLE */
::-webkit-scrollbar{
    width: 0px;
}